@model MVC_Course_V2.ViewModels.CustomerListViewModel
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (Model.Customers.Count == 0)
{
    <text> No customers yet.</text>
}
<h2>@Html.ActionLink("New Customer", "New", "Customer", new { @class = "btn btn-primary " }) </h2>

<table class="table_custom">
    <tr>
        <th>Customers</th>
        <th>Membership Type</th>
    </tr>
    @foreach (var customer in Model.Customers)
    {
        <tr>
            <td>@Html.ActionLink(customer.Name, "Edit", "Customer", new { Id = customer.Id }, null)</td>
            <td>@customer.Membershiptype.Name</td>
        </tr>

    }
</table>

