@model MVC_Course_V2.ViewModels.MovieListViewModel
@{
    ViewBag.Title = "Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@if (Model.Movies.Count == 0)
{
    <text> No movies yet.</text>
}
<h2>@Html.ActionLink("New Movie", "New", "Movie", new { @class = "btn btn-primary " }) </h2>
<table class="table_custom">
    <tr>
        <th>Movie</th>
        <th>genre</th>
    </tr>
    @foreach (var movie in Model.Movies)
    {
        <tr>
            <td>@Html.ActionLink(movie.Name, "Edit", "Movie", new { Id = movie.Id }, null)</td>
            <td>@movie.Genre.Name</td>
        </tr>

    }
</table>
